.rates{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    border-left: 1px dashed var(--color-blue);
}

.currency-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.currency-list-item{
    margin-bottom: 1rem;
    border-bottom: 0.1rem dashed grey;
    max-width: 20rem;
}

.currency-name {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.currency-info {
    font-weight: 500;
}

.currency-name img{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0.2rem;
}