.content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.information-area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.formUser {
    width: 12rem !important;
}

.information-area-update {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.identity-role-area {
    text-align: left;
}

.addAndSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.tableInf th{
    padding: 10px;
}

.userListTable td{
    padding: 0px !important;
}

.userListTable tr:hover {
  background-color: transparent;
  color:var(--color-blue);
}

.icon{
   color: var(--color-blue);
}
.icon:hover {
    color: var(--color-orange);
}

@media (max-width: 1044px) {
    .identity-role-area {
        width: 26%;
    }
}