.forget-password {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forget-password form {
    width: 100%;
    max-width: 600px;
  }

  .forget-password .MuiTextField-root {
    margin-bottom: 16px;
  }
  
  .forget-password .MuiLoadingButton-root {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-blue);
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .forget-password .MuiLoadingButton-root:hover {
    background-color: #ffffff;
    color: #3f51b5;
  }
  
  .forget-password .MuiButton-outlined:hover {
    background-color: var(--color-blue);
    color: #ffffff;
  }

@media (max-width: 768px) {

    .forget-password{
        width: 95%;
        justify-self: center;
    }
    .forget-password form {
      justify-self: center;
    }

  
}