.parents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
}

.list-item {
    grid-area: 1 / 1 / 6 / 2;
    
}

.component-item {
    grid-area: 1 / 2 / 6 / 6;
    margin-left: 1rem;
}

.circular-menu {
    visibility: hidden;
}

@media (max-width: 1200px) {

    .list-item {
        display: none;
        position: absolute;
        left: 0;
        margin: 3rem 0;
        background: var(--color-blue);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
        padding: 10px;
        transform: translateX(-100%);
        opacity: 0;
    }
    
    .parents {
        display: flex;
        justify-content: center;
    }
    
    .list-item.open {
        display: block;
        z-index: 1000;
        transform: translateX(0);
        opacity: 1;
    }

    .component-item {
        min-width: 95%;
        margin-left: 0;
    }

    .circular-menu {
        visibility: visible;
    }
    

}