* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0;
}

html{
  background: 
  linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.678)), 
  url("https://t3.ftcdn.net/jpg/05/31/74/50/360_F_531745035_JqfSNBmPT7gu1DPqQZ9YEiYt175oYczd.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow-x: hidden !important;
}


:root {
  --color-black: #333333;
  --color-blue: #00333D;
  --color-orange: #E1722F;
  --color-white: #DEE6EB;
  --color-red: #ce2d26;
  --color-gray: #f4f4f4;
  --color-light-blue: #e3f2fd;
}

.nihan {
  color: var(--color-black);
}

.main {
  background-color: var(--color-orange);
  padding : 10px;
}

.second {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding : 10px;
}


@media (max-width: 1044px) {
  * {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 12px !important;
    margin: 0;
  }
}