.credit {
    display: flex;
    justify-content: center; /* Yatay eksende ortala */
    align-items: center; /* Dikey eksende ortala */
    margin-top: 30px;
    margin-bottom: 30px;
}

.credit-header{
    display: none;
}

.credit-deposit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}

.credit-deposit a {
    text-decoration: none;
    color: var(--color-blue);
}

.credit-link.active {
    font-weight: bold;
    color: var(--color-blue);
    border-bottom: 2px solid black;
}

.credit-slider {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.credit-slider div {
    font-weight: 500;
}

.credit-info {
    display: flex;
    justify-content: center;
}

.credit-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-width: 300px;
    width: 300px;
    gap: 2rem;
}

.credit-detail p {
    margin: 10px 0;
    text-align: left;
}

.credit-info {
    width: 300px; /* credit-info için de genişlik sabit */
}

.credit-slider-box {
    width: 300px;        /* Same width as other inputs */
    padding: 0.75rem;       /* Add some padding */
    border: 1px solid rgb(0, 0, 0, 0.38);
    border-radius: 4px; 
    box-sizing: border-box;
  }


  @media (max-width: 1200px) {

    .credit {
        display: flex;
        justify-content: center; /* Yatay eksende ortala */
        align-items: center; /* Dikey eksende ortala */
        flex-direction: column;
    }
    .credit-header{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 1rem;
        background-color: var(--color-blue);
        color: var(--color-white);
    }

}
  