
.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;  
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  width: 14%;  
}


.react-calendar__month-view__weekdays__weekday {
  color: #5c6bc0;
  padding: 6px 0;
}
