.persorece{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: max-content;
}

#personal{
  min-width: 450px;
  width: 800px;
}

#receipt{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  flex: 1;
}

@media (max-width: 1200px) {
  .persorece{
    flex-direction: column;
    padding-right: 0px;
  }
  #personal{
    min-width: 300px;
    width: 100%;
  }
  #receipt{
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 800px;
  }
  #receipt > .MuiBox-root{
    min-width: 300px;
    max-width: 400px;
    width: 100%;
  }
}

@media (max-width: 900px) {
  #receipt {
    flex-direction: column;
    min-width: 250px;
    max-width: 100%;
    width: 100%;
  }
  #receipt > .MuiBox-root{
    padding: 0 20px;
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .persorece {
    margin-bottom: 3rem;
  }
}
