.persorece{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: max-content;
  padding-left: 0px;
}

#personal{
  min-width: 450px;
  width: 800px;
}

#receipt{
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.react-calendar__month-view__weekdays {
  display: flex;
  justify-content: space-between;  
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday {
  width: 14%;  
  color: #5c6bc0;
  padding: 6px 0;
}

@media (max-width: 1200px) {
  .persorece{
    flex-direction: column;
  }
  #personal{
    min-width: 300px;
  }
  #receipt{
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    min-width: 300px;
    width: 100%;
  }
}
