.receipt-table-container {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px; /* Maksimum genişlik belirleyerek taşmayı önler */
  overflow-x: auto; /* Küçük ekranlarda yatay kaydırma sağlar */
}
.receipt-table-container-dark {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px; /* Maksimum genişlik belirleyerek taşmayı önler */
  overflow-x: auto; /* Küçük ekranlarda yatay kaydırma sağlar */
}

#title {
  text-align: center;
}