.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 100vh;
  background-color: var(--color-blue);
  transition: width 0.5s ease;
  overflow: hidden;
  z-index: 1000;
}

.navbar.open {
  width: 10%;
  background-color: var(--color-blue);
}

.navbar-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.navbar-item {
  font-size: 1.5rem;
  color: white;
  transform: rotate(-90deg);
  transition: transform 0.5s ease, color 0.3s ease;
  margin: 90px 0;
}

.navbar.open .navbar-item {
  transform: rotate(0);
  color: lightgrey;
}

.navbar.open .navbar-item:nth-child(1) {
  transition-delay: 0.1s;
}

.navbar.open .navbar-item:nth-child(2) {
  transition-delay: 0.2s;
}

.navbar.open .navbar-item:nth-child(3) {
  transition-delay: 0.3s;
}


.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Hafif karartma efekti */
  backdrop-filter: blur(5px); /* Blur efekti */
  z-index: 999; 
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.blur-overlay.active {
  visibility: visible;
  opacity: 1;
}
