.parent {
    display: grid;
    grid-template-columns: 0.5fr 5fr 5fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5px;
    grid-row-gap: 0px;
    height: 87vh;
}

.parent-header {
    display: grid;
    grid-template-columns: 0.5fr 5fr 5fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5px;
    grid-row-gap: 0px;
    height: 5vh;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    align-items: center;
}

.parentTablet {
    display: none;
}

.scroll-indicator {
    position: absolute;
    bottom: 2%; /* Sayfanın altına yakın bir konum */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--color-sign-in-background); /* Gri arka plan */
    color: var(--color-text); 
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Yuvarlak kenarlar */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    font-size: 1rem;
    font-weight: bold;
    z-index: 10;
  }
  
  /* Oklar */
  .scroll-indicator .arrow {
    font-size: 1.5rem;
    animation: bounce 1.5s infinite; /* Salınım animasyonu */
  }
  
  /* İlk ok yukarıdan aşağıya hareket eder */
  .scroll-indicator .arrow {
    animation-direction: alternate;
  }

  .parentMobile {
    display: none;
  }
  .home-menu-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 75px;
    right: 0;
    width: 320px;
    height: 250px;
    background: var(--color-primary);
    clip-path: circle(0% at 100% 0%);
    transition: clip-path 1.0s ease, opacity 0.5s ease;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    border-bottom-left-radius: 100%;
  }
  .home-menu-parent.open {
    clip-path: circle(150% at 100% 0%);
    opacity: 1;
    pointer-events: auto;
  }
  .home-menu-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .home-menu-navbar > a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 14px;
    transition: color 0.5s ease;
  }
  .home-menu-navbar > a:hover {
    color: var(--color-secondary);
  }
  .home-menu-tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding-right: 2rem;
  }
  .home-menu-tools > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
  }
  .home-menu-tools > ul > li {
    opacity: 0;
    transform: translateX(60px);
    animation: slideIn 0.5s forwards;
    animation-delay: calc(0.2s * var(--i));
  }
  .hamburger-menus {
    display: none;
    width: 86px;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 1.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}

  /* Salınım animasyonu */
  @keyframes bounce {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  @keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(60px); /* Sağdan sola hareket */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Normal pozisyona gelir */
    }
}

@media (max-width: 1200px) {

    .parent {
        display: none;
    }
    .parent-header {
        display: none;
    }
    .parentTablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sign-in-container {
        width: 100%;
        margin: 0 auto;
      }
    .credit-rates-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        gap: 1px;
        width: 100%;
        height: 100vh;
    }
    .credit-rates-container > div {
        flex: 1;
    }
    .home-menu-parent {
      width: 450px;
      height: 300px;
    }
    .home-menu-navbar > a {
      font-size: 18px;
    }
    /* Hamburger Menüsü */
    .hamburger-menus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 75px;
      right: 0px;
      width: 58px;
      height: 58px;
      margin: 0 5px 0 0 ;
      background: var(--color-blue);
      cursor: pointer;
      z-index: 1000;
      transition: transform 0.3s ease;
    }
    .hamburger-menus span {
      display: block;
      width: 20px;
      height: 2px;
      background: var(--color-white);
      margin: 2px 0;
      border-radius: 2px;
      transition: all 0.5s ease;
    }

    /* Çarpı Haline Dönüşüm */
    .hamburger-menus.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 3.5px) }

    .hamburger-menus.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menus.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -3.5px)
    }
}
@media (max-width: 768px) {
    .parentTablet {
        display: none;
    }
    .parentMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .credit-container {
      width: 100%;
      height: 94vh;
    }
    .scroll-indicator {
      bottom: 5%;
    }
    .hamburger-menus {
      width: 46px;
      height: 46px;
    }
    .parentMobile > .hamburger-menus {
      position: absolute;
      margin: 0;
      top: 75px;
      right: 5px;
      border-radius: 0%;
      padding: 0;
      width: 39px;
      height: 39px;
    }
    .parentMobile > .home-menu-parent > .home-menu-tools > .list-items {
      width: 320px;
      top: 114px;
    }
    .home-menu-parent {
      width: 320px;
      height: 250px;
    }
    .home-menu-navbar > a {
      font-size: 14px;
    }
  
}