.language-dropdown {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 130px;
  }
  
  .selected-language {
    padding: 8px 12px;
    display: flex;
    align-items: center;
  }
  
  .flag-icon {
    width: 20px;
    height: 15px;
    margin-right: 8px;
    object-fit: cover; /* Bayrakların boyutunu korur */
  }
  
  .language-list {
    position: fixed;
    top: 100%;
    left: 0;
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: var(--color-background);
    list-style: none;
    padding: 0;
    width: 130px;
    z-index: 1000; /* Increased z-index to ensure it appears in front */
  }
  
  .language-list li {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .language-list li:hover {
    background-color: var(--color-sign-in-background);
  }

  @media (max-width: 1200px) {
    .selected-language {
      font-size: medium;
      padding: 8px 6px;
    }

    .language-dropdown {
      width: 100px; 
    }
    .language-list li {
      padding: 8px 6px;
      font-size: medium;
    }
    .language-list {
      width: 100px; 
    }
  }