.button-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2px;
}

.hamburger-button {
    display: block;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 1.5rem;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.menu-button {
    display: flex ;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between ;
    color: var(--color-white) ;
    background-color: var(--color-blue)  ;
    font-size: 6px ;
    min-height: 3rem;
    cursor: pointer;
    border: none;
    width: 100% ;
    margin: 2px 0 ;
    background: linear-gradient(to left, var(--color-blue), var(--color-blue) 50%, var(--color-orange) 50%) ;
    background-size: 200% 100% ; 
    background-position: right ;
    transition: background-position 0.3s ease-in-out ; 
}

.menu-button:hover  {
    background-position: left ;
    font-weight: 700 ; 
}

.button-start {
    display: flex;
}

.button-end {
    display: flex;
}




