.button-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2px;
}

.menu-button  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 6px;
    margin: 0;
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin: 2px 0;
    background: linear-gradient(to left, var(--color-blue), var(--color-blue) 50%, var(--color-orange) 50%);
    background-size: 200% 100%; 
    background-position: right;
    transition: background-position 0.75s ease-in-out; 
}

.menu-button:hover  {
    background-position: left;
    font-weight: 700; 
}

.button-start {
    display: flex;
}

.button-end {
    display: flex;
}

