/* Genel Stiller */
.Mui-root {
  font-family: "Montserrat", sans-serif;
}

/* Modal Stilleri */
.MuiModal-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiModal-root .MuiBox-root {
  background: var(--color-box-background);
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
  
/* Box Stilleri */
.MuiBox-root {
  color: var(--color-text);
  border-radius: 8px;
}

/* TextField Stilleri */
.MuiTextField-root {
  width: 100%;
  margin-bottom: 16px;
}

.Mui-focused {
  color: var(--color-text) !important;
}

.MuiOutlinedInput-root {
  color: var(--color-text);
  border-radius: 8px;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-textfield-border);
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-text) !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--color-text) !important;
}

.MuiInputLabel-root {
  color: var(--color-text) !important;
}

.MuiInputLabel-root.Mui-focused {
  color: var(--color-text) !important;
}

.MuiInputBase-input {
  color: var(--color-text) !important;
}

.MuiInputBase-input.Mui-disabled {
  color: var(--color-text) !important;
  -webkit-text-fill-color: unset !important;
}

/* Button Stilleri */
.MuiButton-root {
  background-color: var(--color-button-background) !important ;
  color: var(--color-button-text) !important;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.MuiButton-root:hover {
  background-color: var(--color-button-background-hover) !important;
  color: var(--color-button) !important;
}

.MuiButton-root:disabled {
  background-color: var(--color-button-background) !important;
  color: var(--color-button-text) !important;
  opacity: 0.5;
}

.MuiButton-root:disabled:hover {
  background-color: var(--color-button-background) !important;
  color: var(--color-button-text) !important;
}

/* Checkbox Stilleri */
.MuiCheckbox-root {
  color: var(--color-text);
}

.MuiCheckbox-root.Mui-checked {
  color: var(--color-text);
}

/* Typography Stilleri */
.MuiTypography-root {
  color: var(--color-text);
}

.MuiTypography-h1 {
  font-size: 35px;
  color: var(--color-secondary);
  text-decoration: underline;
}

.MuiTypography-root.error {
  color: var(--color-red);
  font-size: 15px;
  margin-top: 2px;
  text-align: left;
}

/* IconButton Stilleri */
.back-icon {
  color: var(--color-text);
  transition: transform 0.3s ease-in-out !important;
  cursor: pointer;
  transform: scale(1);
}

.back-icon:hover {
  transform: scale(1.4);
}
/* Tablo Stilleri */
.table-container {
  width: 100%;
  height: 100%;
}

.MuiDataGrid-root {
  border: none;
}

.MuiDataGrid-columnHeaders {
  background-color: var(--color-table-header-background);
  color: var(--color-table-header-text);
}

.MuiDataGrid-columnHeaderTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDataGrid-columnHeaderTitle {
  color: var(--color-table-header-text) !important;
  font-size: 17px !important;
  font-weight: bold !important;
  text-align: center !important;
  text-wrap: wrap !important;
  word-wrap: break-word !important;
}

.MuiDataGrid-cell {
  text-align: center !important;
  font-size: 15px !important;
  color: var(--color-table-cell-text);
  text-wrap: wrap !important;
  word-wrap: break-word !important;
}

.MuiDataGrid-row:nth-of-type(odd):hover {
  background-color: var(--color-table-row-odd) !important;
}

.MuiDataGrid-row:nth-of-type(even):hover {
  background-color: var(--color-table-row-even) !important;
}

.MuiDataGrid-row:nth-of-type(odd) {
  background-color: var(--color-table-row-odd);
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: var(--color-table-row-even);
}

.MuiDataGrid-footerContainer {
  display: none !important;
}

.MuiDataGrid-sortIcon {
  color: var(--color-table-header-text);
}

.MuiDialog-paper {
  background-color: var(--color-box-background) !important;
  color: var(--color-text) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 1200px) {
  .MuiDataGrid-columnHeaderTitle {
    font-size: 14px !important;
  }
  .MuiDataGrid-cell {
    font-size: 14px !important;
  }
  .MuiSvgIcon-fontSizeMedium {
    font-size: 22px !important;
  }
}
