<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice Notification</title>
</head>
<body style="background-color:#dddddd; width:100%; color:white; font-family:Arial, sans-serif; text-align:center; margin:0;">
<div style="background-color:#1d2033; width:100%; max-width:800px; margin:auto; padding:30px 0">
    <img src="https://raw.githubusercontent.com/mfatihfedai/BankApplication-logo/refs/heads/main/PRISMABANK%20(2).png" alt="Logo" style="width:150px;" />
    <div style="text-align:left; max-width:450px; width:100%; padding:0 10px; margin:auto;">
        <h3 th:text="'Hello ' + ${name} + ' ' + ${surname} + ','">Hello John Doe,</h3>
        <p th:if="${success}" style="font-size:20px;">Your invoice of <b th:text="${amount}">150</b> TL has been successfully paid.</p>
        <p th:if="${success}" style="font-size:20px;">Your remaining balance is: <b th:text="${balance}">850</b> TL.</p>
        <p th:unless="${success}" style="font-size:20px;">Your invoice of <b th:text="${amount}">150</b> TL could not be paid due to insufficient balance.</p>
        <p th:unless="${success}" style="font-size:20px;">Please check your balance.</p>
        <br>
        <p style="font-size:20px;">Thank you for using Prisma Bank.</p>
        <hr style="border:2px solid #343647; margin:20px 0;" />
        <p style="color:#908e97; font-size:18px;">This is an automated message from Prisma Bank.</p>
        <h3 style="font-size:18px; color:#908e97;">Prisma Bank Team</h3>
    </div>
</div>
</body>
</html>
